<div class="bg-gray-900 text-white w-64 min-h-screen p-4">
    <ul>
      <li class="mb-4"><a href="/dashboard" class="hover:underline">Dashboard</a></li>
      <li class="mb-4"><a href="/panel" class="hover:underline">Panel</a></li>
      <li><a href="/store" class="hover:underline">Store</a></li>
    </ul>
  </div>
  